extends ../main-layout

block title
    | First Aid

block content
    include ../parts/navigation
    .avalancheWrap
        .row
            .col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-3
                p.sectionName FIRST AID IN MOUNTAINS
        .row
            .col-sm-10.offset-1.col-md-3.offset-1.col-lg-3.offset-1.wow.animated.fadeInLeft
                img.pull-right.left-img-long(src='../img/1.png', alt='')
            .col-sm-12.col-md-7.col-lg-7.wow.animated.fadeInRight
                .features-list-right
                    p Carry and know how to use a first-aid kit, but do not let the fact that you have one give you a false sense of security. The best course of action is to always take the steps necessary to avoid injury or sickness in the first place. Training in wilderness first aid or wilderness first responder skills is worthwhile.
                    p Most first-aid training is aimed at situations in urban or industrial settings where trained personnel will respond quickly. In the mountains, trained response may be hours - even days - away.
                    p The first-aid kit should be compact and sturdy, with the contents wrapped in waterproof packaging. Commercial first-aid kits are widely available, though most are inadequate. A basic first-aid kit should include bandages, skin closures, gauze pads and dressings, roller bandage or wrap, tape, antiseptic, blister prevention and treatment supplies, nitrile gloves, tweezers, a needle, nonprescription painkillers and anti-inflammatory, antidiarrheal, and antihistamine tablets, a topical antibiotic, and any important personal prescriptions, including an EpiPen if you are allergic to bee or hornet venom. Consider the length and nature of each trip in deciding what to add to the basics of the first-aid kit. For a climbing expedition, consider bringing appropriate prescription medicines.
                    p How many times have you used a band-aid or a piece of moleskin from your first aid kit this summer? Did you restock that dose of ibuprofen or Benadryl from your last outing? At the midway point of a busy summer, it's important to stop and take a minute to reassess and restock one of your most important 10 Essentials - your first aid kit!
                    p Frequent restocking, before or after every trip, helps to ensure that you'll always have the supplies that you need when you really, really need them. Wondering what you should even have in your first aid kit, in the first place? Our friends at NOLS have some great suggestions on their blog! For day hiking, backpacking, and paddling - here’s a list of what I include in my own personal kit. What do you include in yours?
                        .marked
                            ul
                                li Nitrile gloves (2 pairs)
                                li CPR face shield
                                li alcohol wipes
                                li 1” athletic tape
                                li gauze pads/roll, various sizes
                                li non-adherent dressings
                                li Band-Aids, various sizes
                                li vet wrap (Coban)
                                li moleskin
                                li topical antibiotic cream (4 packets)
                                li tweezers
                                li irrigation syringe
                                li trauma scissors
                                li tampons (2-3)
                                li compression wrap
                                li ibuprofen (4 doses)
                                li acetaminophen (aka Tylenol)(4 doses)
                                li antacids (such as Pepto Bismol)(2 doses)
                                li diphenhydramine (aka Benadryl)(2 doses)
                    p REMEMBER!
                    p Stay up-to-date with your medical training and know how to use everything that's packed in your first aid kit - it's not useful if you don’t know how to use it!
    include ../parts/footer