extends ../main-layout

block title
    | Avalanche Safety

block content
    include ../parts/navigation
    .avalancheWrap
        .row
            .col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-3
                 p.sectionName AVALANCHE SAFETY
        .row
            .col-sm-10.offset-1.col-md-3.offset-1.col-lg-3.offset-1.animated.fadeInLeft
                img.pull-right.left-img(src='../img/2.png', alt='')
            .col-sm-12.col-md-7.col-lg-7.animated.fadeInRight
                .features-list-right
                    p It feels like to be an important topic, especially in light of all the recent avalanche tragedies. Right now, we're transitioning from winter to spring, and the changing weather can increase avalanche risks. I’d like to recommend a few ways to help keep you and your party safer on your next adventure. This is by no means a full blown how-to manual, but an opportunity to open up the discussion on how to be prepared for the unexpected.
                    #accordionExample.accordion.right
                        .card.chapter
                            #heading1.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='false', aria-controls='collapse1').chapterTitle Take a course
                                    i.fa.fa-chevron-down
                            #collapse1.collapse(aria-labelledby='heading1', data-parent='#accordionExample')
                                .card-body
                                    p Taking a course will help you to identify common avalanche types: powder, slab, wet, how to respond to an avalanche, how to prevent/avoid avalanche danger and what to do in case one should happen.
                        .card.chapter
                            #heading2.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='false', aria-controls='collapse2').chapterTitle Identify your skill set
                                    i.fa.fa-chevron-down
                            #collapse2.collapse(aria-labelledby='heading2', data-parent='#accordionExample')
                                .card-body
                                    p Identify your skill set: are you a beginner, an intermediate, or an expert? Snowshoer, skier, and snowboarder? Know your skills; the mountains will always be there for another day, your job is to get back safely. Remember accidents can happen, let’s do all we can to prevent them.

                        .card.chapter
                            #heading3.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='false', aria-controls='collapse3').chapterTitle Know your surroundings
                                    i.fa.fa-chevron-down
                            #collapse3.collapse(aria-labelledby='heading3', data-parent='#accordionExample')
                                .card-body
                                    p Some of the more popular hikes in Washington State occur in avalanche chutes, including: Mt Ellinor, Mt Washington (Olympics), Franklin Falls, Lake 22, Artist Point, Granite Mountain, McClellan Butte, Annette Lake, Panorama Point, Snow Lake, Pilchuck, Commonwealth, and Bandera, just to name a few. As such, it's imperative to:
                                        ul
                                            li Match your terrain choice and travel plan to the conditions.
                                            li Be aware of avalanche chutes and approach with caution.
                                            li Only have one person in the avalanche path at a time.
                                            li Watch your partner from a safe spot.
                                            li Don’t group up in exposed terrain. If something goes wrong, you do not want to have more than one victim.
                        .card.chapter
                            #heading4.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='false', aria-controls='collapse4').chapterTitle Check the forecast
                                    i.fa.fa-chevron-down
                            #collapse4.collapse(aria-labelledby='heading4', data-parent='#accordionExample')
                                .card-body
                                    p Check  forecasts for weather and conditions before you go. Avalanche specific forecasts can be found at Northwest Avalanche Center. Be aware of temperature and wind - hypothermia can happen quickly on an unplanned overnight stay. I suggest if you're out for even a day hike during late fall and winter, bring equipment for an “unplanned night out”. More on that in #5.
                        .card.chapter
                            #heading5.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='false', aria-controls='collapse5').chapterTitle Bring the proper equipment
                                    i.fa.fa-chevron-down
                            #collapse5.collapse(aria-labelledby='heading5', data-parent='#accordionExample')
                                .card-body
                                    p Bring the proper equipment for winter travel and know how to use it
                                    ul
                                        li Ice ax
                                        li Avalanche transceiver /receiver
                                        li Probe
                                        li Shovel
                                    p Essentials - Using this list is a great way to make sure you have the gear you need in an unexpected situation. You might want to augment your gear if the trip may be a bit more of a challenge than normal. Think: wet or cold weather, considerable mileage, lots of elevation gain, more than the average technical climbing or paddling skills needed. Some important items for snow travel are. It is important to know how to use a map and compass, cell phones may not work under certain circumstances.
                        .card.chapter
                            #heading6.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='false', aria-controls='collapse6').chapterTitle Never go out alone
                                    i.fa.fa-chevron-down
                            #collapse6.collapse(aria-labelledby='heading6', data-parent='#accordionExample')
                                .card-body
                                    p Go with partners in a group and have a plan
                                    ul
                                        li Ice ax
                                        li Avalanche transceiver /receiver
                                        li Probe
                                        li Shovel
                                    p Having a plan means telling a trusted friend or spouse what your plans are, where are you going ie: trail destination, after hike plans etc., how long you will be gone, when your expected arrival time home, what are your plans in an emergency, whom to contact in case of emergency.
                        .card.chapter
                            #heading7.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='false', aria-controls='collapse7').chapterTitle If you don't feel comfortable, don't go
                                    i.fa.fa-chevron-down
                            #collapse7.collapse(aria-labelledby='heading7', data-parent='#accordionExample')
                                .card-body
                                    ul
                                        li Ice ax
                                        li Avalanche transceiver /receiver
                                        li Probe
                                        li Shovel
                                    p If you are feeling pressured to do something that doesn’t seem right, don’t do it. There is always tomorrow to conquer your “mountain,” when using good judgment.

    include ../parts/footer