footer.footer
    .footerWrap
        .row
            .col-sm-12
                .footer-content
                    h3 Get In Touch
                    .row
                        .col-sm-12.social-icon
                            a(href='https://www.facebook.com/' target="_blank")
                                i.fa.fa-facebook
                            a(href='https://telegram.org/', target="_blank")
                                i.fa.fa-paper-plane
                            a(href='https://twitter.com/', target="_blank")
                                i.fa.fa-twitter
                            a(href='https://www.youtube.com/', target="_blank")
                                i.fa.fa-youtube
                            a(href='https://www.instagram.com', target="_blank")
                                i.fa.fa-instagram
                    .row
                        .col-sm-12.support-link
                            ul
                                li
                                    a(href='#') Contact
                                li
                                    a(href='#') Press
                                li
                                    a(href='#') Support
                                li
                                    a(href='#') Developers
                                li
                                    a(href='#') Privacy
