//section.section.navigation
section#header.header
    .top-bar
        .container
            #navigation-scroll.navigation
                .nav-button
                    button#trigger-overlay(type='button')
                        i.fa.fa-bars

    .overlay.overlay-hugeinc
        button.overlay-close(type='button') Close
        nav
            ul
                li.hideit
                    a(href='home.html') HOME
                li.hideit
                    a(href='aboutUs.html') ABOUT US
                li.hideit
                    a(href='program.html') PROGRAM
                li.hideit
                    a(href='education.html') EDUCATION
                li.hideit
                    a(href='expectations.html') EXPECTATIONS
                li.hideit
                    a(href='contacts.html') CONTACTS

//.navWrapper(align='center')
//    .nav.customNavigation
//        ul.navbar
//            li.nav-item
//                a.nav-link(href='home.html') HOME
//            li.nav-item
//                a.nav-link(href='aboutUs.html') ABOUT US
//            li.nav-item
//                a.nav-link(href='program.html') PROGRAM
//            li.nav-item
//                a.navbar-brand(href='home.html')
//                    img.logo(src="../img/logoBlack.png", height='150px', alt='Logo')
//            li.nav-item
//                a.nav-link(href='education.html') EDUCATION
//            li.nav-item
//                a.nav-link(href='expectations.html') EXPECTATIONS
//            li.nav-item
//                a.nav-link(href='contacts.html') CONTACTS
