section.slider
    .row.slider
        .col-12.col-lg-7.whiteSide
            .photo
                .mountaneering Mountaneering
                    span.camp Camp
                button.galleryButton
                    a(href='education.html') EDUCATION
                    i.fa.fa-angle-double-right
        .col-12.col-lg-5.grafitSide
            .shadowOverlay
                .frame
                    img(src="../img/logoWhite.png").logo
                    p(align="right").text From first steps to the biggest objectives. Trending high in satisfaction, but as we grow both our member and non-member community, people are having more varied experiences.
                    button.enterButton
                        a(href='aboutUs.html') ENTER
                        i.fa.fa-angle-double-right
