doctype html
html(lang='ru')
	head
		// Пути для css, js и изображений
		- path = {css: 'dist/css', js: 'dist/js', img: 'dist/img'};
		// блок с meta
		meta(charset="UTF-8")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		// подключение сss
		link(rel="stylesheet", type="text/css"  href="../css/bootstrap-4.1.1-dist/css/bootstrap-grid.min.css")
		link(rel="stylesheet", type="text/css"  href="../css/bootstrap-4.1.1-dist/css/bootstrap.css")
		link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		//link(rel="stylesheet", type="text/css"  href="../css/nivo-lightbox/nivo-lightbox.css")
		//link(rel="stylesheet", type="text/css"  href="../css/nivo-lightbox/nivo-lightbox-theme.css")
		link(rel="stylesheet", type="text/css"  href="../css/styles.css")
		link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet")
		script(src='../js/modernizr.custom.js')

		title
			block title

	body
		block content

		//скрипты
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='../css/bootstrap-4.1.1-dist/js/bootstrap.min.js')
		script(src='../js/main.js')
		script(src='../js/script.js')
		script(src='../js/classie.js')
		//script(src='../js/nivo-lightbox.min.js')
		script(src='../js/smoothscroll.js')




